/* ==UserStyle==
@name           RemedyDark
@namespace      ItsJustSomeDude
@version        0.0.1
@description    Makes Remedy into Dark Mode
@author         Matthias "ItsJustSomeDude" Feldpausch
@homepageURL    https://gitlab.com/ItsJustSomeDude/remedy-mods/
@updateURL      https://gitlab.com/ItsJustSomeDude/remedy-mods/RemedyDark.user.css
@var		color		a-color				"Link Color"						#6db3ff
@var		color		bg-main				"Main Background Color"				#2f3031
@var		color		bg-tone-1			"Lighter Background Color"			#37393a
@var		color		color-main			"Main Text Color"	 				#f2f0ed
@var		color		color-tone-1		"Text on Light Backgrounds"			#000000
@var		color		color-tone-2		"Text on Darker Backgrounds"		#FFFFFF
@var		color		header-color		"Header Text Color"					#f2f0ed
@var		color		button-hover-color	"Button Hover Color"				#919191
@var		color		border-color		"Border Color"						#666666
@var		color		bg-disabled-input	"Disabled Input Field Background"	#37393a
@var		color		highlight-bg		"Highlight Color"					#196acd
@var		color		highlight-color		"Highlighted Text Color"			#fafafa
@var		color		bg-vnav				"Lower-left navigation Background"	#2e373c
@var		color		bg-cell-even		"Even Table Cell Background"		#252627
@var		color		bg-cell-odd			"Odd Table Cell Background"			#2a2c2d
==/UserStyle== */
@-moz-document domain("usdacts.fed.onbmc.com"),
domain("usdacts-qa.fed.onbmc.com") {
	/* Insert code here... */
	/* This applies to text that is in an input box by default before you type anything. */
	::placeholder {
		opacity: 0.5 !important;
		color: #bdb9b0;
	}

	/* This applies when your browser puts text in an input area for you. */
	input:-webkit-autofill,
	textarea:-webkit-autofill,
	select:-webkit-autofill {
		background-color: #636a19 !important;
		color: #e6e4e1 !important;
	}

	/* EEK, Scrollbars.  This is the broken part.  Ignore the CSSLint error on the "scrollbar-color" attribute. */
	::-webkit-scrollbar {
		background-color: #323435;
		/* color: #c7c3bc; Probably going to remove this line.  It is strange.  What is changing the text color on a scrollbar going to do?  Whatever, I did not write this whole styleblock, it came from Drak Reader.*/
	}
	::-webkit-scrollbar-thumb {
		background-color: #3e4042;
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: #46484a;
	}
	::-webkit-scrollbar-thumb:active {
		background-color: #4f5254;
	}
	::-webkit-scrollbar-corner {
		background-color: #2f3031;
	}
	* {
		scrollbar-color: #3e4042 #323435;
	}

	/* Ok, this is the end of what you should edit.  Everything past this point is what actually edits the page.  If you edit any of these,
	 * your waranty is VOID.  If it ever exsisted in the first place.  Which it did not.  So, yeah.  If you were reading down this page,
	 * Press Ctrl + S and close the tab.  There is a lot to see under the hood, but nothing you should look at.  I am not a very good CSS
	 * writer, and the HTML that I had to work with in Remedy is a MESS!  Like seriously, if you want to learn web design, open Remedy,
	 * press F12 and do the oppisite of everything you see there.  NO JOKE!  If you are using inline styles on every other element, then
	 * you are doing it WRONG.  If you have so many different types of text on the page that you feel like using inlines to make it simpler,
	 * DON'T!  That will make it SO MUCH HARDER.  For YOU.  And everyone else.  Just make your page simpler.  Resist the urge, don't use
	 * inlines.  You will end up making any nerd web developer like me MAD when we go to edit the page's CSS.  Anyway, if you read the rant,
	 * then you should probably get back to work.  I hope you enjoy the stylesheet more than I enjoyed writing it.  It really won't be that
	 * hard to do that.  Again, thank you so much for using the stylesheet.  :)
	 */
	
	/* This is the master element.  It puts the color, bg-color, and border-color on everything that it can. */
	html,
	body,
	input,
	textarea,
	select,
	button {
		background-color: var(--bg-main);
		border-color: var(--border-color) !important;
		color: var(--color-main);
	}

	/* This colors all the links that are not stupid.*/
	a[href] {
		color: var(--a-color) !important;
	}

	/* This sets the Table Border Color. */
	table {
		border-color: var(--border-color);
	}

	/* Sets the color of the selection and selected text. */
	::selection {
		background-color: var(--highlight-bg);
		color: var(--highlight-color);
	}
	::-moz-selection {
		background-color: var(--highlight-bg);
		color: var(--highlight-color);
	}

	/* Remove the Ticket Eater (Desision Tree) */
	div.arfid1000005682 {
		display: none;
		visibility: hidden;
	}

	/* This is one of the primary background color classes. It applies to a lot of both a Ticket and SRM. */
	.pbChrome,
	.PageBody,
	.PageHolder,
	.TabChild,
	.pagetable > fieldset {
		background: var(--bg-main) !important;
	}

	/* These set the ccolor for Table Cells. I have not found any tables that do not have these classes. */
	.BaseTableCell {
		background-color: var(--bg-cell-even) !important
	}
	.BaseTableCellOdd {
		background-color: var(--bg-cell-odd) !important
	}

	/* These are elements that do not inherit the color properly. */
	/* I might need to put this stuff back later if I find something broken: `.PopupBtn, .vlabel` */
	.tbbtn,
	.Twisty,
	.content_label_sub,
	.content_value_sub,
	.label.f9,
	.navLabel,
	.label.f1,
	.label.f6 {
		color: var(--color-main) !important;
	}

	/* This is the App Flyout menu style */
	#WIN_0_304262390,
	#WIN_0_304262400 {
		background-image: linear-gradient(to right, rgb(5, 103, 155) 0%, rgb(48, 154, 217) 100%);
	}

	/* This applies the default link color to buttons, the Toolbox, and the Broadcast button. */
	.btntextdiv {
		color: var(--a-color);
	}

	/* The background color of the breadcrumbs area. */
	.HNavBar.BreadCrumbStyle {
		background-color: var(--bg-tone-1) !important;
	}

	.Panel {
		background: var(--bg-main) !important;
	}

	.VNavParent,
	.VNavLeaf {
		border-color: var(--border-color) !important;
		background-color: var(--bg-vnav) !important;
	}

	.VNavBar {
		border-color: var(--border-color) !important;
		background-color: var(--bg-main) !important;
	}

	.TableHdr {
		background-color: var(--bg-tone-1) !important;
	}

	.BaseTableInner {
		background-color: var(--bg-main) !important;
	}

	.btn3d {
		border-color: var(--border-color) !important;
		background: var(--bg-tone-1) !important;
	}

	.btn3d.btnd {
		border-color: var(--border-color) !important;
		background: var(--bg-tone-1) !important;
	}

	.btn3d:hover {
		border-color: var(--button-hover-color) !important;
	}

	.btn3d.btnd:hover {
		border-color: var(--border-color) !important;
		background: var(--bg-tone-1) !important;
	}

	.btn.btn3d.menu,
	.selectionbtn {
		background-color: var(--bg-disabled-input) !important;
	}

	.fieldSetRadio {
		color: var(--color-main);
	}

	.PageHeaderVertical {
		background-color: var(--bg-main) !important;
	}

	.lvl1 {
		color: var(--color-main);
		background: var(--bg-tone-1) !important;
		background-color: var(--bg-tone-1) !important;
	}

	.Tab {
		background: var(--bg-tone-1) !important;
	}

	.OuterTabSelected {
		border-color: var(--border-color);
	}

	textarea[style*="rgb(204, 204, 204)"],
	input[style*="rgb(204, 204, 204)"],
	div.dfro textarea.text,
	textarea[style*="rgb(222, 224, 224)"] {
		background-color: var(--bg-disabled-input) !important;
	}

	.MenuOuter {
		background-color: var(--bg-main) !important;
	}

	.MenuEntryNameHover,
	.VNavHover > span,
	.VNavSelectedHover,
	.VNavSelected > span {
		color: var(--color-tone-1) !important;
	}

	.TabLeftRounded,
	.TabRight,
	.TabLeft,
	.TabRightRounded {
		filter: invert(75%) brightness(90%);
	}

	.expand > img.btnimg {
		filter: invert(75%)
	}

	div[style*="rgb(255, 255, 255)"],
	div[style*="#ffffff"] {
		background-color: var(--bg-main) !important;
	}

	.navT,
	.TableHdrL,
	.TableBtn,
	a.btn.f1,
	td.f1.trimJustl[style*="rgb(0, 0, 0)"],
	td.f1.trimJustl[style*="#000000"],
	td.f4.trimJustc[style*="#000000"],
	td.f4.trimJustc[style*="rgb(0, 0, 0)"] {
		color: var(--color-main) !important;
	}

	td[style*="rgb(0, 67, 118)"],
	td[style*="#004376"],
	td[style*="#003366"],
	td[style*="rgb(0, 51, 102)"] {
		color: var(--color-main) !important;
	}

	dl.BreadCrumbStyle .HNavItem .center a.btn,
	dl.BreadCrumbStyle .HNavSelected .center a.btn {
		color: var(--color-main) !important;
		background: var(--bg-tone-1) !important;
	}

	dl.BreadCrumbStyle .HNavItem .center a.btn:hover,
	dl.BreadCrumbStyle .HNavSelected .center a.btn {
		color: var(--color-main) !important;
		background: var(--bg-tone-1) !important;
	}

	.MenuEntrySub {
		background-color: var(--bg-main) !important;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAYAAAAvZezQAAAALElEQVQI122MQQoAMAzCUv3/k2U7FWQsJw0oSQ6FAFpqw8r5Thbboy68hwAXsSQT7Fwrg6kAAAAASUVORK5CYII=) !important;
	}

	.btn.btn3d.menu > img,
	.selectionbtn > img,
	.MenuScrollUp,
	.MenuScrollDown,
	.AutoCompleteDownArrow > td,
	.AutoCompleteUpArrow > td,
	img[src*="menu_down"] {
		filter: invert(90%)
	}

	/* td to raise the specificity */
	td > button.btn3d {
		background: var(--bg-main) !important;
	}

	.TableInner,
	.TableHdr,
	.DIVPopupBodyBorder {
		border-color: var(--border-color) !important;
	}

	.root.root_menu {
		border-top: none !important;
		border-color: var(--border-color) !important;
		background-color: var(--bg-tone-1) !important;
	}

	.TitleBarStyle.trimdiv {
		background-color: var(--bg-tone-1) !important;
	}

	.trimBox {
		border-color: var(--border-color) !important;
		background-color: var(--bg-tone-1) !important;
	}

	.BaseTableInner > .BaseTable > tbody > .SelPrimary,
	.BaseTableInner > .BaseTable > tbody > .Rollover {
		/*****************************************************/
		color: var(--color-tone-1) !important;
	}

	.BaseTableInner > .BaseTable > tbody > .SelPrimary[style*="color:#00a800;"],
	.BaseTableInner > .BaseTable > tbody > .Rollover[style*="color:#00a800;"] {
		color: #00a800 !important;
	}

	.BaseTableInner > .BaseTable > tbody > .SelPrimary[style*="rgb(157, 157, 0)"],
	.BaseTableInner > .BaseTable > tbody > .Rollover[style*="rgb(157, 157, 0)"] {
		color: rgb(157, 157, 0) !important;
	}


	.DIVPopupBody {
		background-color: var(--bg-main) !important;
	}

	.DIVPopup.shadow {
		box-shadow: var(--shadow-color);
	}

	.DIVPopupButtons {
		border-color: var(--border-color) !important;
		background-color: var(--bg-tone-1) !important;
	}

	.rnd1,
	.rnd2,
	.rnd3 {
		background-color: var(--bg-tone-1);
	}

	.DIVPopupTitleBar {
		border-right-color: var(--border-color) !important;
	}

	textarea.Editor {
		background-color: var(--bg-main) !important;
	}

	div.ToolBar {
		background-color: var(--bg-tone-1) !important;
		color: var(--color-main) !important;
	}

	.PopupMsgOuter,
	.PopupMsgBox {
		background-color: var(--bg-main) !important;
	}

	.PopupMsgFooter {
		background-color: var(--bg-tone-1) !important;
	}

	.detailsTable {
		background-color: var(--bg-main) !important;
	}

	table[bgcolor="white"] {
		background-color: var(--bg-main) !important;
	}

	.tbbtn:hover,
	#TBsearchsavechanges {
		color: var(--color-tone-1) !important;
	}

	.PageHeaderVertical {
		background-image: linear-gradient(#313334 0%, #3a3d3e 100%) !important;
	}

	.f4.trimJustc {
		background-color: var(--bg-main) !important;
	}

	.btnurl > div > .f9 {
		color: var(--color-main);
	}

	.TableFtrL,
	.TableFtrR {
		background-color: var(--bg-tone-1) !important;
	}

	.content_title_main,
	.content_title_sub,
	.cell_sub a:link,
	.cell_main a:link {
		color: var(--a-color) !important;
	}

	.AutoCompleteNonSelection > td,
	#AutoCompleteBox > tbody,
	#AutoCompleteBox {
		background-color: var(--bg-main) !important;
		color: var(--color-main);
	}

	.AutoCompleteNonSelection {
		border-collapse: collapse;
		border: none;
		background-color: var(--bg-main) !important;
		color: var(--color-main);
	}

	.AutoCompleteDownArrow,
	.AutoCompleteUpArrow {
		background-color: var(--bg-main) !important;
	}

	label.f4.do {
		color: var(--color-main) !important;
	}

	.rtf_text,
	.text.sr.f1,
	div.integer > .text {
		background-color: var(--bg-disabled-input) !important;
	}

	#arid_WIN_0_304269520 {
		color: var(--color-tone-1) !important;
	}

	.TrimLink {
		color: var(--a-color) !important;
	}

	.mainQuestions {
		background-color: var(--bg-main) !important;
	}

	.ardbnz5Text_AttachmentLabel {
		background-color: var(--bg-main) !important;
	}

	textarea.text[style*="rgb(225, 225, 225)"] {
		background-color: var(--bg-tone-1) !important;
	}

	div[style*="Home+Page+Sprite"] {
		display: none;
	}

	.content_desc_main {
		color: var(--color-main) !important;
	}

	.ardbnControlPanel {
		border-color: var(--bg-main) !important;
	}

	.dat {
		background-color: var(--bg-main) !important;
	}

	/* Am I stupid?  Or is it remedy. */
	.ardbnz1D_TotalOpenIncidentsCount > .dat > .dat {
		background: transparent !important;
		color: var(--color-tone-1) !important;
	}

	#arid_WIN_5_302889100 {
		background-color: var(--bg-main) !important;
	}

	.flbl {
		color: var(--header-color) !important;
	}

	.FormContainerBackground {
		background-color: var(--bg-main) !important;
	}

	[style*="color: blue"] {
		color: var(--color-tone-2) !important;
	}

	.PopupAttInner {
		background-color: var(--bg-main) !important;
	}

	.PopupAttFooter {
		background-color: var(--bg-tone-1) !important;
	}

	.PopupAttStatus {
		background-color: var(--bg-disabled-input) !important;
	}

	.chunkright,
	.chunkleft,
	.chunkleftbtnd,
	.chunkrightbtnd {
		background-color: transparent !important;
	}

	.content_title_sub > a:visited {
		color: var(--a-color)
	}

	td.f2.trimJustl {
		background-color: var(--bg-main) !important;
		color: var(--color-main) !important;
	}

	/* BECAUSE THERE IS A BAD KBA!!!!!!!  THIS IS SO DUMB!
 	 * WHY WHY WHY WHY WHY!?!?!?!?  WHY WOULD YOU CHANGE THE COLOR IN THE MIDDLE OF A KBA FROM #000000 TO #111111?
 	 * UGH.  Whatever.  I will keep in mind this for whenever I write a webapp.  Ugh.
	 */
	span[style*="#111111"],
	span[style*="#000000"],
	font[style*="color: #000000"],
	span[style*="color:black"],
	span[style*="color:#3a434d"],
	span[style*="color:#1f497d"],
	span[style*="color:#333333"] {
		color: var(--color-main) !important;
	}

	span[style*="color:blue"] {
		color: var(--a-color) !important;
	}

	td[style*="background-color: #c0ff80"] {
		color: var(--bg-tone-1);
	}

	td[bgcolor*="#f7f7f7"],
	td[bgcolor*="#efefef"],
	td[style*="background:#efefef"],
	td[style*="background:#f7f7f7"],
	span[style*="background-color:white"],
	div.dfro input.text {
		background: var(--bg-disabled-input) !important;
	}

	a.treetitle {
		background-color: var(--bg-main) !important;
	}

	.tree {
		background-color: var(--bg-main) !important;
	}

	.btn.treetitleselectedfocused {
		color: var(--color-tone-1) !important;
	}

	a.treetitlerollover,
	a.treeimg {
		background-color: inherit !important;
		color: var(--color-tone-1) !important;
	}

	span[style*="color: rgb(0, 0, 0)"] {
		color: var(--color-main) !important;
	}

	span[style*="color: black;"] {
		color: var(--color-main) !important;
	}

	span[style*="color: rgb(51, 51, 51);"] {
		color: var(--color-main) !important;
	}

	span[style*="color: rgb(56, 86, 35);"] {
		color: red !important;
	}

	a > span[style*="color: rgb(5, 99, 193);"] {
		color: var(--a-color) !important;
	}

	body > div:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) {
		color: var(--color-tone-1) !important;
	}
}
